.birinci{
    width: 400px;
    height: 400px;
    background-color: red;

}

.ikinci{
    width: 300px;
    height: 300px;
    background-color: blue;



}

.ucuncu{
    width: 200px;
    height: 200px;
    background-color: #d4ff00;
}

.text1{
    background-color: red;
}

.text2{
    background-color: green;
    letter-spacing: 10px;
}

.text3{
    background-color: orange;
    color: blue;
    font-weight: 900;
}

.vid1{
    width: 200px;
    border-radius: 40%;
}

.vid2{
    width: 200px;
    border-radius: 50%;

}

.vid3{
    width: 200px;
    border-radius: 30%;
}